.box-add{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 490px;
    align-items: center;
    border-radius: 8px;
    background: #ffffff;
    box-shadow:  12px 12px 27px #c4c4c4,
                 -12px -12px 27px #ffffff;
                 margin-top: 80px;

}
.formAddCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
/* .presenCon,.adressCon,.quartir{
    margin-top: 60px;
} */
.presenCon label,.adressCon label,.quartir label{
    margin: 40px;
}
.presenCon{
        margin-top: 70px;

}
.quartir{
    margin-right: 330px;
        margin-top: 70px;

}
.adressCon{
    margin-left: -20px;
        margin-top: 70px;

}
.but-condu{
    margin-top: 40px;
    margin-left: 480px;
    border-radius: 5px;

    color: white;
   background-color: rgb(1, 10, 64);
   font-weight: bold;
}
.formAddCon input {
    border-color: rgb(197, 193, 193);
    border-radius: 5px;

}
.title-add{
    display: flex;
    margin-right:230px ;
    color: red;
}
