.box-menu{
    height: 500px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
    }

.box-condu, .box-propr,.box-rechar{
    width: 300px;
    height: 300px;
    align-self: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
align-items: center;
    
}
.box-condu{
background-color: rgba(1, 40, 64, 1) ;
}
.box-propr{
background-color: rgba(166, 23, 49, 1) ;
}
.box-rechar{
   background-color: black ; 
}
#titl-box-mnu{
    color: white;
}
.box-condu:hover{
    transition: 0.3s;
    opacity: 0.8;
    cursor: pointer;
}
.box-propr:hover{
    transition: 0.3s;
    opacity: 0.8;
    cursor: pointer;
}
.box-rechar:hover{
    transition: 0.3s;
    opacity: 0.8;
    cursor: pointer;
}
.img1{
    margin-top: 20px;
}