
.presenProprio,.adressProprio,.quartirs{
    display: flex;
    width: 650px;
    margin-top: 75px;
    
}
.presenProprio,.adressProprio{
justify-content: space-between;

}
.quartirs label{
    margin-right: 30px;
}
.nmPro{
    margin-left: 130px;
}