#box-R{
    border-bottom: solid 1px;
    display: flex;
    justify-content: space-between;
}
#box-R div{
    width: 20%;
    font-weight: 500;
    color: black;
}
#box-R :nth-child(0n+2){
    width: 35%;
    color: #4d89e4;
    margin-right: xx0px;

}
#box-R :nth-child(0n+1){
    width: 30%;
    margin-right: 40px;
}
#box-R   :nth-child(0n+4){
    width: 15%;
    color: #0FA958;
    margin-right: 80px;
}
#box-R   :nth-child(0n+5){
    width: 15%;
}

.modSuppr{
   display: flex;
   width: 50px;
   justify-content: space-between;
   border: none;

}
.mod{
    position: relative;
    top: -21px;
    left: 600px;
}

.mod img:hover{
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.6;
}